---
import Layout from '@layouts/Layout.astro'
export async function getStaticPaths() {
  const pages = [
    {
      lang: undefined,
      title: 'Astro Default',
      text: 'Welcome to the Astro store!'
    },
    {
      lang: 'ca',
      title: 'Astro Català',
      text: "L'idioma seleccionat és el català."
    },
    {
      lang: 'en',
      title: 'Astro English',
      text: 'The selected language is english.'
    },
    {
      lang: 'es',
      title: 'Astro Español',
      text: 'El idioma seleccionado es el español.'
    }
  ]
  return pages.map(({ lang, title, text }) => {
    return {
      params: { lang },
      props: { title, text }
    }
  })
}

const { title, text } = Astro.props
---

<Layout title={title} subtitle={text} details="Index details">
  <main>
    Index SSG: {title} | {text}
    <br /><br />

    <br /><br />
  </main>
</Layout>
