---
import Layout from '@layouts/Layout.astro'
import LoremIpsum from '@components/widgets/LoremIpsum.astro'
---

<Layout title="Index" subtitle="Index subtitle" details="Index details">
  <main>
    Index content
    <br /><br />
    <LoremIpsum count={3} />
  </main>
</Layout>

<style></style>

<script></script>

