---
const baseUrl = import.meta.env.BASE_URL
//const pathname = new URL(Astro.url).pathname.replace(/^\/+/, '').replace(/\/+$/, '')
const pathname = new URL(Astro.url).pathname
  .replace(baseUrl, '')
  .replace(/\/+$/, '')
const currentPath = pathname.substring(pathname.lastIndexOf('/') + 1)
---

<div class="btn-group">
  <a href=`${baseUrl}` class=`btn ${currentPath === '' ? 'btn-secondary' : ''}`
    ><span>/</span></a
  >
  <a
    href=`${baseUrl + 'home'}`
    class=`btn ${currentPath === 'home' ? 'btn-secondary' : ''}`
    ><span>Home</span></a
  >
  <a
    href=`${baseUrl + 'about'}`
    class=`btn ${currentPath === 'about' ? 'btn-secondary' : ''}`
    ><span>About</span></a
  >
</div>
