---
import ThemeSelector from '@components/widgets/ThemeSelector.astro'
import LocaleSelector from '@/src/components/widgets/LocaleSelector.astro'

interface Props {
  title?: string
  subtitle?: string
}
const { title, subtitle } = Astro.props
---

<nav
  id="app-subnavbar"
  class="navbar navbar-expand-lg fixed-top border-bottom shadow-sm bg-body-tertiary"
>
  <div class="container-fluid flex-nowrap">
    <a class="navbar-brand" href="#">
      <span>{title}</span>
      {subtitle ? <span class="opacity-25">:</span> : null}
      {subtitle ? subtitle : ''}</a
    >

    <div class="d-none d-lg-block justify-content-end" id="app-div-subnavbar">
      <ul class="navbar-nav">
        <div class="vr mx-3"></div>

        <li class="nav-item">
          <LocaleSelector />
        </li>
        <div class="vr mx-3"></div>

        <li class="nav-item">
          <ThemeSelector outline={true} label={false} />
        </li>

        <!-- <div class="vr mx-3"></div> -->
      </ul>
    </div>
  </div>
</nav>
